{% extends 'header.html' %}
{% block content %}
{%load static %}

    
<div class="container">
 <h2><i class="fa fa-music" aria-hidden="true"></i> Here Are my All Song </h2>
{% if latest_Song_list %}
  

</br>
</br>

  
    </br>

    </br>
    <div class="col-md-12">
        <div class="panel panel-primary">
            
        
             <div class="col-md-12 panel-body" style="background-color: #00003c; width: 100%;">
                
                <div>
                 {% csrf_token %}                    
                
                   </br>
                        <div class="table-responsive" > 
                        <ul class="list-group">
                        
                         <li class="list-group-item" style="width:100%; background: black">
                         <table  class="table">
                        <thead>
                        <h3><tr>
                        <th class="col-md-3">Album</th>
                        <th class="col-md-3">Song Name</th>   
                        <th class="col-md-3">Artist</th>
                        <th class="col-md-3"></th>
                                   
                        </tr>
                        </thead>
                        {% for song in latest_Song_list %}  
                              
                        <tr>
                        <td class="col-md-3"> {{ song.album }}</td>
                        <td class="col-md-3"> {{ song.song_title }}</td>
                        <td class="col-md-3"></td>
                        <td class="col-md-3"><a id="song" href="/music/song/{{ song.pk}}/">PLAY</a>
                        </td>
                                              
                        </tr>
                        
                                                                                                                                                                                                                                                                         
                        {% endfor %}

                         </table>                          
                       </li>
                       </ul></div> 
               </div>
            </br>
            <div class="panel-footer text-center">
                  {% if user.is_authenticated %}
                  <a href="{% url 'music:addsong' %}"><span class="glyphicon glyphicon-plus-sign" data-toggle="modal" >&nbspAdd Song</span></a>
                  {% endif %}
                
            </div>
        </div>
    </div>

</div>

    
{% else %}
    <p>No Album are available.</p>
{% endif %}
</div>
{% endblock %}
<script type="text/javascript">
  var vid = document.getElementById("audio1"); 

function playVid() { 
    vid.play();
    $("#play").hide();
    $("#pause").show();
   

} 
function refresh() { 

    document.getElementById("audio1").load();
    $("#play").show();
    $("#pause").hide();

} 

function pauseVid() { 
    vid.pause(); 
    $("#play").show();
    $("#pause").hide();
} 




</script>